@import "tailwindcss";

@theme {
  --color-base-100: #fdfdfd;
  --color-base-200: #f6f8fa;
  --color-base-300: #e9edf2;
  --color-base-content: #252846;
  --color-primary: #008dff;
  --color-primary-content: #fbfefe;
  --color-secondary: #26c45f;
  --color-secondary-content: #f9fff9;
  --color-accent: #de6700;
  --color-accent-content: #fffdfa;
  --color-neutral: #252846;
  --color-neutral-content: #fdfdfd;
  --color-info: #5aa3ff;
  --color-info-content: #232a4c;
  --color-success: #3ad183;
  --color-success-content: #1c3a31;
  --color-warning: #f6ae2d;
  --color-warning-content: #3a2a1c;
  --color-error: #f75d5d;
  --color-error-content: #4b2020;

  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@layer base{

  [data-theme = 'light']{
    --color-base-100: #fdfdfd;
  --color-base-200: #f6f8fa;
  --color-base-300: #e9edf2;
  --color-base-content: #252846;
  --color-primary: #008dff;
  --color-primary-content: #fbfefe;
  --color-secondary: #26c45f;
  --color-secondary-content: #f9fff9;
  --color-accent: #de6700;
  --color-accent-content: #fffdfa;
  --color-neutral: #252846;
  --color-neutral-content: #fdfdfd;
  --color-info: #5aa3ff;
  --color-info-content: #232a4c;
  --color-success: #3ad183;
  --color-success-content: #1c3a31;
  --color-warning: #f6ae2d;
  --color-warning-content: #3a2a1c;
  --color-error: #f75d5d;
  --color-error-content: #4b2020;

  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
  }

  [data-theme = "dark"]{
     --color-base-100: #1a1a1a;
  --color-base-200: #2a2a2a;
  --color-base-300: #3a3a3a;
  --color-base-content: #ffffff;
  --color-primary: #4da8ff;
  --color-primary-content: #1a1a1a;
  --color-secondary: #3ad183;
  --color-secondary-content: #1a1a1a;
  --color-accent: #ff8c00;
  --color-accent-content: #1a1a1a;
  --color-neutral: #4b4b4b;
  --color-neutral-content: #ffffff;
  --color-info: #66b3ff;
  --color-info-content: #1a1a1a;
  --color-success: #4bd88b;
  --color-success-content: #1a1a1a;
  --color-warning: #ffb84d;
  --color-warning-content: #1a1a1a;
  --color-error: #ff6666;
  --color-error-content: #1a1a1a;

  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
  }
}


